@import "reset";
@import "vars";
@import "grid";
@import "type";
@import "nav";
@import "ie";

 body {
	font-family:europa;
 }
.banner {
	display:flex;
	height:30vh;
	flex-direction: column;
	overflow:hidden;
	justify-content: center;
	img {
		width: 100%;
	}
}